footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #023047;
  color: white; /* Cambia el color del texto si es necesario */
  padding: 8px; /* Añade padding según el diseño deseado */
  text-align: center; /* Centra el contenido horizontalmente */
}

.inicio {
  color: #ffffff;
}
